.heroContainer {
  width: 100%;
  /* height: calc(75vh - 20px - 50px); */

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tagline {
  font-size: 24px;
  line-height: 125%;
  text-align: left;
}

.map {
  scale: 0.9;
  object-fit: contain;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  padding: 25px;

}

.right {
  width: 50%;
  padding: 25px;
}

/* mobile */
@media only screen and (max-width: 600px) {
}

/* tablet */
@media only screen and (max-width: 900px) {
  .heroContainer {
    display: block;
    height: auto;
    margin: 20px 0px 20px 0px;
  }

  .tagline {
    margin-left: 0px;
    font-size: 24px;
    line-height: 125%;
  }

  .left {
    padding: 0px;
    padding-bottom: 20px;
    margin: 0px;
    width: 100%;
  }

  .right {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
}
