html,
body {
  max-width: 100vw;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
}

main {
  min-width: 30%;
  max-width: 1200px;

  margin: 0px auto 0px auto;
  padding: 25px;

  background: #CFE4FF;
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
}

hr {
  width: 85%;
  margin: 15px auto;
  padding: 2px;

  border-top: 2px dashed #acbee7ff;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
