.header {
    display: flex;

    width: 100%;
    height: 50px;
    background: #CFE4FF;

    box-shadow: 0px 0px 100px #acbee7ff;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.name {
    display: block;
    font-size: 24px;

    margin-left: 20px;
    font-weight: 300;
}

.navSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.link {
    margin: 0px 40px;
    background: rgb(187, 211, 235);
    padding: 10px 20px;
    border-radius: 5px;
}

/* mobile */
@media only screen and (max-width: 600px) {
    .header {
        display: block;
    }

    .navSection {
        display: none;
    }
}

/* tablet */
@media only screen and (max-width: 900px) {
    .link {
        margin: 0px 20px;
    }
}